<% unless @current_user == person %>
    <div class="follow-button-container">
      <% if @current_user.friend_with? person %>
          <%= link_to remove_friend_path(person.username), :method => "post", :remote => true, :class => "btn follow-button unfollow cancel-friendship" do %>
              Cancel Friendship
          <% end %>
      <% else %>
          <% if person.invited_by? @current_user %>
              <span class="follow-button"> Friend Request Sent </span>
          <% elsif @current_user.invited_by? person   %>
              <%= link_to accept_friend_path(person.username), :method => "post", :remote => true, :class => "accept-request btn follow-button accept-request" do %>
                  Confirm
              <% end %>
              <%= link_to accept_friend_path(person.username), :method => "post", :remote => true, :class => "btn follow-button accept-request remove-request" do %>
                  Delete Request
              <% end %>
          <% else %>
              <%= link_to add_friend_path(person.username), :method => "post", :remote => true, :class => "btn follow-button unfollow" do %>
                  <i class="fa fa-user-plus"></i> Add Friend
              <% end %>
          <% end %>
      <% end %>
    </div>

<% end %>


