<li class="profile-list-section wall-post-item clearfix">
  <div class="profile-pic">
    <a href="#">
      <%= image_tag 'profile.jpg' %>
    </a>
  </div>
  <div class="wall-post-content-wrapper">
    <div class="post-title">
      <span class="name"><%= link_to @person.given_name_or_username, person_path(username: @person.username) %></span>
      commented on the doc <span class="event">  Planet Dog Foundation  </span>
      <span class="times"> 5 month, 3 weeks ago </span>
    </div>
    <div class="post-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>

      <% if index % 2 == 0 %>
          <div class="post-photos-wrapper">
            <%= image_tag('post.jpg') %>
            <%= image_tag('post1.jpg') %>
          </div>
      <% end %>
    </div>
    <ul class="post-actions">
      <li>
        <a href="#"><i class="fa fa-reply"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-trash"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-lock"></i></a>
      </li>
    </ul>
  </div>
</li>
