<div class="clearfix">
  <div class="col-md-9">
    <div class="user-profile-content-wrapper">
      <%= render 'social/wall_post_form' %>
      <div class="wall-posts">
        <ul class="all_post">
          <% posts.each do |post| %>
              <%= render 'people/wall_post_item', post: post, person: @current_user %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="position: relative;">
    <div style="background: #ffffff; height: 800px; margin-top: 20px; position: fixed; width: 300px;">
      xyz
    </div>
  </div>
</div>