.full-width {
  width: 100%;
}

textarea {
  &.min-height {
    height: 3.5em;
  }
}

.divider {
  margin: 5px 0;
  height: 1px;
  background: rgba(255, 255, 255, .3);
}

.reset-padding {
  padding: 0 !important;
}

.reset-margin {
  margin: 0 !important;
}