body.social {
  background-color: #30445C !important;
}

.content-container {
  background: #ffffff;
}

.social-wrapper {
  border-bottom: 1px solid #999999;
  margin: auto;
  padding: 0;
  max-width: 1000px;
  background: #ffffff;
  .social-header {
    min-height: 320px;
    position: relative;
    background: image-url('bg.jpg');
    background-size: 100% 100%;
    .item-header-cover {
      width: 100%;
      position: absolute;
      z-index: 2;
      display: table;
      .table-cell {
        height: 320px;
        display: table-cell;
        vertical-align: middle;
      }
      .cover-content {
        display: table;
        width: 100%;
        .table-cell:first-child {
          padding-left: 50px;
        }
        .table-cell:last-child {
          padding-right: 50px;
        }
      }
      .social-avatar {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        background-size: cover !important;
        margin-right: 12px;
      }
      .user-social-link {
        a {
          color: #ffffff;
        }
        .btn-group {
          margin-top: 5px;
          &.social {
            a {
              width: 27px;
              height: 27px;
              padding: 0;
              line-height: 29px;
              background: #E4E4E5;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin-right: 15px;
              text-shadow: none;
              &.facebook {
                color: #4e71a8;
              }
              &.twitter {
                color: #4dcadd;
              }
              &.youtube {
                color: #ca3737;
              }
            }
          }
        }
      }
      #item-statistics {
        float: right;
        .numbers {
          white-space: nowrap;
          span {
            color: #fff;
            padding: 0 40px 0 0;
            display: inline-block;
            text-align: center;
          }
          span:first-child {
            padding-left: 40px;
            border-left: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
  .follow-button-container {
    .follow-button {
      background: none;
      color: #ffffff;
    }
  }
}

.social-left-section {
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  //float: left;
  padding-bottom: 50px;
  //width: 75%;
}

.social-right-section {
  //width: 25%;
  //float: right;
}

.profile-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.social-nav {
  width: 100%;
}

.social-nav ul {
  background-color: #FAFAFA;
  float: right;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.social-nav ul li {
  float: left;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
  position: relative;
  .badge, .big-badge, .huge-badge {
    position: relative !important;
    background-color: #4a90e2;
    top: auto !important;
    left: auto !important;
    vertical-align: top;
    margin-left: 3px;
  }
  &:first-child {
    margin-left: 10px;
  }
}

.social-nav ul li a {
  color: black;
  display: inline-block;
  font-size: 13px;
  padding: 15px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: solid 2px #FAFAFA;
  &.active {
    color: #4dcadd;
    border-bottom: 2px solid #4dcadd;
  }
}

.social-nav ul li a:hover {
  text-decoration: none;
  color: #4dcadd;
  border-bottom: 2px solid #4dcadd;
}

.profile-dropdown {
  display: inline-block;
}

.profile-dropdown-content {
  display: none;
  position: fixed;
  background-color: #FFFFFF;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profile-dropdown-content a {
  color: #999999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.separator {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
}

.blog-separator {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
  margin-bottom: 20px;
  margin-top: 45px;
}

.profile-submenu {
  //width: 860px;
  //margin: auto;
}

#profile_submenu_ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}

#profile_submenu_ul li:first-child {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

#profile_submenu_ul li:last-child {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

.profile-submenu ul li {
  float: left;
  padding-right: 15px;
}

.profile-submenu ul li a {
  color: #999999;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.profile-submenu ul li :hover {
  color: #4dcadd;
}

.margin-reset-leftright {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.spacing-btwn-divs {
  margin-top: 15px;
  padding-top: 15px;
}

/*profile list section*/

.wall-posts {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .wall-post-item {
      margin-top: 10px;
      .profile-pic {
        display: inline-block;
        width: 60px;
        a img {
          border: 2px solid #7ed9e6;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          width: 100%;
        }
      }
    }
    .wall-post-content-wrapper {
      display: inline-block;
      width: calc(100% - 95px);
      vertical-align: top;
      padding-left: 30px;
      .post-title {
        font-size: 14px;
        margin-bottom: 10px;
        .name, .event {
          font-weight: bold;
        }
        .times {
          font-size: 12px;
          color: #999999;
        }
      }
      .post-content {
        margin-top: 10px;
        font-size: 13px;
        .post-attachment-wrapper {
          margin: 5px 0;
          text-align: center;
          .attachment-container {
            margin-bottom: 10px;
            display: inline-block;
            width: 48%;
            max-height: 150px;
            min-width: 250px;
            margin-right: 10px;
            vertical-align: top;
            position: relative;
            img, video, audio {
              width: 100%;
              max-height: 150px;
            }
            .download-attachment {
              position: absolute;
              z-index: 100;
              right: 10px;
              font-weight: bold;
              top: 5px;
              color: #fdfdfd;
              font-size: 15px;
            }
            audio + a {
              right: 1px !important;
              bottom: 2px !important;
              top: auto !important;
            }
          }
        }
      }
    }
    .post-actions {
      list-style-type: none;
      margin: 5px 0;
      padding: 0;
      li {
        float: left;
        margin: 0;
        padding-right: 12px;
        a {
          color: #999999;
          font-size: 18px;
          letter-spacing: 1px;
          margin-right: 10px;
          padding: 0;
          text-decoration: none;
        }
      }
    }
  }
}

/*Right menu section*/

.right-person-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-person-menu li {
  float: left;
  padding-right: 5px;
  display: inline;
}

.right-person-menu li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}

.right-person-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-person-list li {
  margin: 20px 0 0 18px;
  padding: 0;
}

.image-section {
  float: left;
}

.image-icon {
  border: 2px solid #7ed9e6;
  border-radius: 50px;
  height: 60px;
}

.image-icon-square {
  border: 2px solid #fdfdfd;
  height: 60px;
}

.image-content-section {
  float: left;
  padding-left: 15px;
  width: 150px;
}

.image-content-section h4 {
  color: black;
  font-size: 17px;
  font-weight: normal;
  padding-bottom: 5px;
  text-align: left;
  margin: 0 0 2px 0;
}

.image-content-section p {
  color: #999999;
  margin: 0;
  padding: 0;
  word-break: break-all;
  font-size: 13px;
}

/*Footer Section*/

.footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
  height: 100px;
  padding: 20px 72px 20px 38px;
  width: 1060px;
}

.footer-left {
}

.footer-left p {
  float: left;
  font-size: 15px;
  color: #999999;
  width: 560px;
}

.footer-social-icon {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.footer-social-icon li {
  display: inline-block;
}

.footer-social-icon li a {
  border: 1px solid #999999;
  border-radius: 10px;
  text-decoration: none;
}

/* User profile */

.user-profile-content-wrapper, .user-inbox-wrapper, .friendship-wrapper {
  padding: 0 10px 10px 10px;
}

.person-description {
  margin-top: 10px;
  p {
    margin-bottom: 0;
  }
}

.liked {
  color: #4dcadd;
}

.post-comments-wrapper {
  padding-left: 20px;
  .comments-owner {
    a {
      img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: solid 1px #4dcadd;
        width: 45px;
        height: 45px;
      }
    }
  }
  .comment-text {
    display: inline-block;
    p {
      margin-top: 10px;
    }
  }
}

.comments-wrapper {
  display: none;
  .comment-owner {
    display: inline-block;
    width: 60px;
  }
}

.listing-link {
  padding-top: 10px;
}


