@media screen and (max-width: 600px) {
  .friend-request-list li, .friend-list li {
    display: block;
    width: 100%;
  }

  .wrapper-notifications {
    display: none !important;
  }

  .new-post-wrapper {
    margin-left: 0 !important;
    width: 100% !important;
    display: block;
  }

  .wall-posts {
    ul.all_post {
      li {
        .profile-pic {
          display: none !important;
        }
        .wall-post-content-wrapper {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}