@media screen and (max-width: 970px) {
  #header-top-navi {
    #navigation {
      .gnb-wrap {
        .gnb {
          .menu-contain-you {
            right: 0;
          }
          .feed-activity {
            width: 320px;
            margin-top: -10px;
            &.feed-notification-popup {
              margin-left: -180px;
            }
            &.feed-message-popup {
              margin-left: -220px;
            }
            &.feed-activity-popup {
              margin-left: -260px;
            }
          }
        }
      }
    }
  }
  .social-container {
    .wall_content {
      padding-left: 15px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  #header-top-navi {
    #navigation {
      .logo {
        left: 0;
        margin: -10px 0 0 -19px;
      }
      .gnb-wrap .gnb .menu-contain-you {
        right: 0;
      }
    }
  }
  form {
    .checkbox-container {
      label {
        display: block;
        padding: 2px 0 10px 20px;
        margin-top: 0;
      }
    }
  }
  .home-toolbar-toggle-container {
    .icon-dropdown {
      top: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .friend-request-list li, .friend-list li {
    display: block;
    width: 100%;
  }

  .wrapper-notifications {
    display: none !important;
  }

  .new-post-wrapper {
    margin-left: 0 !important;
    width: 100% !important;
    display: block;
  }

  .wall-posts {
    ul.all_post {
      li {
        .profile-pic {
          display: none !important;
        }
        .wall-post-content-wrapper {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  .timelet-list {
    ul {
      li {
        &:nth-child(odd) {
          padding-left: 0 !important;
          padding-right: 5px;
        }
        &:nth-child(even) {
          padding-right: 0 !important;
          padding-left: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .timelet-list {
    ul {
      li {
        float: none;
        width: 100%;
        padding: 0 !important;
      }
    }
  }
}