//.user-inbox-wrapper {
//  padding-top: 10px;
//}
//
//.badge {
//  background: #4a90e2 !important;
//}
//
//#new-message-form {
//  width: 450px;
//  #new_conversation {
//    padding-bottom: 0;
//  }
//  h2 {
//    margin-top: 0;
//    margin-bottom: 15px;
//  }
//}
//
//.wall-post-wrapper {
//  #description {
//    height: 45px;
//  }
//}
//
//.attachment-submit {
//  width: 100%;
//  display: none;
//  text-align: right;
//  margin-top: 10px;
//}
//
//#new-attachment-modal-form {
//  width: 500px;
//  max-width: 100% !important;
//  background: #f9f9f9;
//  .lightbox-content {
//    background: transparent;
//    padding: 0;
//  }
//  a.lightbox-x {
//    padding: 0 !important;
//    top: 5px;
//    right: -20px;
//  }
//  .post-attachment-description {
//    background: transparent;
//  }
//}

.social-container {
  max-width: 980px;
  margin: auto;
}

.social-body {
  background: #ebeced;
}

.follow-unfollow-wrapper {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 20px;
}

.post-attachment-wrapper {
  .attachment-big {
    img {
      width: 100%;
      max-height: 350px;
    }
  }
}

.attachment-slide-wrapper {
  width: 100%;
  clear: both;
  text-align: left;
  overflow-x: auto;
  .slider-wrapper {
    min-width: 550px;
  }
  .slide-item {
    height: 85px;
    width: 85px;
    cursor: pointer;
    opacity: 0.90;
    padding: 3px;
    display: inline-block;
    margin-right: 5px;
    background: #EAEBED;
    &.current {
      img {
        opacity: 1;
      }
      border: solid 1px dodgerblue;
    }
    img {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
    &:hover {
      border: solid 1px dodgerblue;
      img {
        opacity: 1;
      }
    }
  }
  padding: 5px 0;
  border-bottom: dotted 1px #CCCCCC;
  margin-bottom: 10px;
}