.timelet-list {
  position: relative;
  .products {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul li:nth-child(5n) {
      padding-left: 0 !important;
      padding-right: 15px;
    }

    .figure-item {
      background: #FFF;
      border-radius: 3px;
      padding: 0 0 8px;
      box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
      -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
      -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
      z-index: 0;
      position: relative;
      font-size: 13px;
      line-height: 15px;
      color: #8a8f9c;
      margin-bottom: 10px;
      figure {
        position: relative;
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        .figure {
          height: 222px;
          margin: 0;
          background-position: 50% 50%;
          background-size: cover;
          border-radius: 3px 3px 0 0;
          display: block;
          width: 100%;
        }
      }
      figcaption {
        position: relative;
        padding: 6px 4px 1px 11px;
        .title {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #494F59 !important;
          text-decoration: none;

          padding: .5em 0;
          margin: 0;
          font-size: 14px;
          font-weight: bold;
        }
        .figure-detail {
          position: relative;
          text-overflow: clip;
          overflow: hidden;
        }
      }
    }
  }
}

#refer-listing-form {
  ul.token-input-list-facebook {
    width: 100% !important;
  }
}