.content-container {
  background: #ffffff;
}

.social-wrapper, .social-container {
  margin: auto;
  padding: 0;
  max-width: 1000px;
  margin-top: 65px;
  //background: #ffffff;
  .social-header {
    min-height: 320px;
    position: relative;
    background: image-url('bg.jpg');
    background-size: 100% 100%;
    .item-header-cover {
      width: 100%;
      position: absolute;
      z-index: 2;
      display: table;
      .table-cell {
        height: 320px;
        display: table-cell;
        vertical-align: middle;
      }
      .cover-content {
        display: table;
        width: 100%;
        .table-cell:first-child {
          padding-left: 50px;
        }
        .table-cell:last-child {
          padding-right: 50px;
        }
      }
      .social-avatar {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        background-size: cover !important;
        margin-right: 12px;
      }
      .user-social-link {
        a {
          color: #ffffff;
        }
        .btn-group {
          margin-top: 5px;
          &.social {
            a {
              width: 27px;
              height: 27px;
              padding: 0;
              line-height: 29px;
              background: #E4E4E5;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin-right: 15px;
              text-shadow: none;
              &.facebook {
                color: #4e71a8;
              }
              &.twitter {
                color: #4dcadd;
              }
              &.youtube {
                color: #ca3737;
              }
            }
          }
        }
      }
      #item-statistics {
        float: right;
        .numbers {
          white-space: nowrap;
          span {
            color: #fff;
            padding: 0 40px 0 0;
            display: inline-block;
            text-align: center;
          }
          span:first-child {
            padding-left: 40px;
            border-left: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
  .follow-button-container {
    .follow-button {
      background: none;
      color: #ffffff;
    }
  }
}

.social-left-section {
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  //float: left;
  padding-bottom: 50px;
  //width: 75%;
}

.social-right-section {
  //width: 25%;
  //float: right;
}

.profile-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.social-nav {
  width: 100%;
}

.social-nav ul {
  background-color: #FAFAFA;
  float: right;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.social-nav ul li {
  float: left;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
  position: relative;
  .badge, .big-badge, .huge-badge {
    position: relative !important;
    background-color: #4a90e2;
    top: auto !important;
    left: auto !important;
    vertical-align: top;
    margin-left: 3px;
  }
  &:first-child {
    margin-left: 10px;
  }
}

.social-nav ul li a {
  color: black;
  display: inline-block;
  font-size: 13px;
  padding: 15px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: solid 2px #FAFAFA;
  &.active {
    color: #4dcadd;
    border-bottom: 2px solid #4dcadd;
  }
}

.social-nav ul li a:hover {
  text-decoration: none;
  color: #4dcadd;
  border-bottom: 2px solid #4dcadd;
}

.profile-dropdown {
  display: inline-block;
}

.profile-dropdown-content {
  display: none;
  position: fixed;
  background-color: #FFFFFF;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profile-dropdown-content a {
  color: #999999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.separator {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
}

.blog-separator {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
  margin-bottom: 20px;
  margin-top: 45px;
}

.profile-submenu {
  //width: 860px;
  //margin: auto;
}

#profile_submenu_ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}

#profile_submenu_ul li:first-child {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

#profile_submenu_ul li:last-child {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

.profile-submenu ul li {
  float: left;
  padding-right: 15px;
}

.profile-submenu ul li a {
  color: #999999;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.profile-submenu ul li :hover {
  color: #4dcadd;
}

.margin-reset-leftright {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.spacing-btwn-divs {
  margin-top: 15px;
  padding-top: 15px;
}

/*profile list section*/

.wall-posts {
  margin-top: 20px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .wall-post-item {
      margin-top: 10px;
      overflow: visible !important;
      .profile-pic {
        display: inline-block;
        width: 60px;
        a img {
          //border: 2px solid #7ed9e6;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .wall-post-content-wrapper {
      display: inline-block;
      width: calc(100% - 85px);
      vertical-align: top;
      margin-left: 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #ffffff;
      .activity-status {
        display: block;
        padding: 10px;
        line-height: 16px;
        border-bottom: 1px solid #f3f4f4;
        color: #8a8f9c;
        font-size: 12px;
        a {
          color: #8a8f9c;
          font-weight: bold;
        }
      }

      .activity-status:before {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin: -2px 6px 0 0;
        background: url("strip3.png") no-repeat;
        background-size: 200px 40px;
        background-position: -38px 0;
      }

      .activity-content {
        padding: 10px;
        .activity-timelet-image-wrapper {
          img {
            width: 100%;
          }
        }
      }

      .activity-footer {
        border-top: 1px solid #f9f9f9;
        padding: 5px 2px;
      }

      .post-title {
        font-size: 14px;
        margin-bottom: 10px;
        .name, .event {
          font-weight: bold;
        }
        .times {
          font-size: 12px;
          color: #999999;
        }
      }
      .post-content {
        font-size: 13px;
        .post-attachment-wrapper {
          margin: 5px 0 20px 0;
          text-align: center;
          .attachment-container {
            margin-bottom: 10px;
            display: inline-block;
            width: 48%;
            max-height: 150px;
            min-width: 250px;
            margin-right: 10px;
            vertical-align: top;
            position: relative;
            img, video, audio {
              width: 100%;
              max-height: 150px;
              background: #333;
            }
            .download-attachment {
              position: absolute;
              z-index: 100;
              right: 10px;
              font-weight: bold;
              top: 5px;
              color: #fdfdfd;
              font-size: 15px;
            }
            audio + a {
              right: 1px !important;
              bottom: 2px !important;
              top: auto !important;
            }
          }
        }
      }
    }
    .activity-actions {
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      li {
        float: left;
        margin: 0;
        padding-right: 12px;
        a {
          color: #999999;
          letter-spacing: 1px;
          margin-right: 10px;
          padding: 0;
          text-decoration: none;
          font-size: 11px;
          i {
            font-size: 13px;
          }
        }
      }
    }
  }
}

/*Right menu section*/

.right-person-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-person-menu li {
  float: left;
  padding-right: 5px;
  display: inline;
}

.right-person-menu li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}

.right-person-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-person-list li {
  margin: 20px 0 0 18px;
  padding: 0;
}

.image-section {
  float: left;
}

.image-icon {
  border: 2px solid #7ed9e6;
  border-radius: 50px;
  height: 60px;
}

.image-icon-square {
  border: 2px solid #fdfdfd;
  height: 60px;
}

.image-content-section {
  float: left;
  padding-left: 15px;
  width: 150px;
}

.image-content-section h4 {
  color: black;
  font-size: 17px;
  font-weight: normal;
  padding-bottom: 5px;
  text-align: left;
  margin: 0 0 2px 0;
}

.image-content-section p {
  color: #999999;
  margin: 0;
  padding: 0;
  word-break: break-all;
  font-size: 13px;
}

/*Footer Section*/

.footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  color: transparent;
  height: 100px;
  padding: 20px 72px 20px 38px;
  width: 1060px;
}

.footer-left {
}

.footer-left p {
  float: left;
  font-size: 15px;
  color: #999999;
  width: 560px;
}

.footer-social-icon {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.footer-social-icon li {
  display: inline-block;
}

.footer-social-icon li a {
  border: 1px solid #999999;
  border-radius: 10px;
  text-decoration: none;
}

/* User profile */

.user-profile-content-wrapper, .user-inbox-wrapper, .friendship-wrapper {
  //padding: 0 10px 0 10px;
}

.person-description {
  margin-top: 10px;
  p {
    margin-bottom: 0;
  }
}

.liked {
  color: #4dcadd;
}

.post-comments-wrapper {
  padding-left: 20px;
  .comments-owner {
    a {
      img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: solid 1px #4dcadd;
        width: 45px;
        height: 45px;
      }
    }
  }
  .comment-text {
    display: inline-block;
    p {
      margin-top: 10px;
    }
  }
}

.comments-wrapper {
  display: none;
  text-align: left;
  padding-right: 20px;
  .comment-owner {
    display: inline-block;
    width: 60px;
  }
  form {
    padding-bottom: 10px;
    textarea {
      margin-bottom: 7px;
      border: solid 1px #CCCCCC;
    }
  }
}

.listing-link {
  padding-top: 10px;
}

/* User notification */

.user-notification-wrapper {
  margin: 0;
  padding: 0 2px;
  list-style: none;
  color: white;
  word-break: break-all;
  .notification-item {
    cursor: pointer;
    padding: 8px;
    border-bottom: solid 1px #dddddd;
    &:hover {
      background: #CCCCCC;
    }
    .profile-pic {
      display: inline-block;
      width: 30px;
      a {
        padding: 0;
        img {
          border: 2px solid #7ed9e6;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          width: 100%;
        }
      }
    }
    .notification-content {
      display: inline-block;
      width: calc(100% - 60px);
      vertical-align: top;
      padding-left: 15px;
      color: #555555;
      a {
        display: inline-block;
        font-weight: bold;
        padding: 0;
      }
    }
  }
}


.user-activity-wrapper {
  margin: 0;
  padding: 0 2px;
  list-style: none;
  color: white;
  word-break: break-all;
  .notification-item {
    cursor: pointer;
    padding: 8px;
    border-bottom: solid 1px #dddddd;
    &:hover {
      background: #fdfdfd;
    }
    .profile-pic {
      display: inline-block;
      width: 30px;
      a {
        padding: 0;
        img {
          border: 2px solid #7ed9e6;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          width: 100%;
        }
      }
    }
    .notification-content {
      display: inline-block;
      width: calc(100% - 60px);
      vertical-align: top;
      padding-left: 15px;
      color: #555555;
      a {
        display: inline-block;
        font-weight: bold;
        padding: 0;
      }
    }
  }
}

aside {
  padding-left: 0 !important;
  &.sidebar {
    //margin-top: 10px;
    .wrapper-notifications {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 18px;
      position: relative;
      background: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      .stit {
        color: #373d48;
        font-size: 13px;
        line-height: 38px;
        text-shadow: 0 1px 0 #FFF;
        border-bottom: 1px solid #f0f1f2;
        border-radius: 3px 3px 0 0;
        padding: 2px 0 0 15px;
        background: none;
        margin-top: 0;
        margin-bottom: 0;
      }
      ul {
        max-height: 450px;
        overflow: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          line-height: 32px;
          position: relative;
          padding: 12px 2px 12px 47px;
          color: #383D48;
          .photo {
            position: absolute;
            left: 5px;
            top: 12px;
            width: 32px;
            height: 32px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            background: no-repeat 50% 50%;
            background-size: cover;
          }
          .date {
            position: absolute;
            bottom: 1px;
            font-size: 11px;
            left: 0;
            color: #8a8f9c;
          }
        }
      }
      .noti-wrap {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: 16px;
        width: 100%;
        padding-bottom: 16px;
      }
      a.find {
        display: block;
        padding: 12px 15px;
        border-top: 1px solid #f3f4f4;
        color: #4978b3;
        &:hover {

        }
      }
    }
  }
}

.rating-container {
  display: inline-block;
  font-size: 15px;
  .star {
    margin: 0 1px;
  }
}

.report-btn {
  color: black !important;
  font-weight: normal !important;
  font-size: 12px !important;
  padding: 8px 10px 5px 10px !important;
}

.report-btn-profile {
  color: black !important;
  font-weight: normal !important;
  font-size: 12px !important;
  padding: 4px 10px 2px 10px !important;
  display: inline-block;
}

.see_all_message {
  color: #8a8f9c;
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 12px;
  &:hover {
    color: #0078a3;
  }
}