<div id="profile-header" class="content-wrapper">
  <div class="inner-wrapper">
    <div class="icon-cache"></div>
    <h2 class="hidden">Cover</h2>

    <div id="cover-image" class="cover silver add">
      <div class="image">
        <img id="coverImg" src="" data-url="" data-url-retina="" data-height="">
        <script>(function () {
            var img = document.getElementById('coverImg');
            img.src = window.devicePixelRatio > 1 ? img.getAttribute('data-url-retina') : img.getAttribute('data-url');
        })()</script>
      </div>
      <a href="#" class="change camera btn-upload-cover" style="display:block;">
        <span class="icon"></span>
        <em>Upload Cover Image</em>
      </a>
    </div>
  </div>
  <div class="info">
    <ul class="sns">
      <li class="fb">
        <a href="https://www.facebook.com/app_scoped_user_id/587226114787649/" target="_blank"></a>
      </li>
      <li class="tw">
        <a href="https://www.facebook.com/app_scoped_user_id/587226114787649/" target="_blank"></a>
      </li>
    </ul>
    <div class="interaction">
      <div class="user-follow-section">
        <a href="#" class="btn btn-default follow-user">
          <i class="fa fa-plus"></i> Follow
        </a>
      </div>

      <div class="user_fn">
        <div class="btn-group" role="group" aria-label="...">
          <a class="send-message btn btn-default" href="#"> <i class="fa fa-envelope-o"></i> </a>

          <div class="btn-group" role="group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="#"> <i class="fa fa-user-times"></i> Block User </a></li>
              <li>
                <a href="#"><i class="fa fa-flag"></i> Report User</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="header-avatar">
      <div id="user-photo" style="background-image:url('https://resize-ec2.thefancy.com/resize/crop/220/thefancy/UserImages/original/raghavminhas_71ebc0d87836.jpg');"></div>
    </div>
    <h3> <%= person.full_name %> </h3>

    <p>
      Vancouver ·
      <a href="http://about.me/sias" rel="nofollow" target="_blank">about.me/sias</a>
    </p>

    <div class="description">The Cookie Monster is my hero. Cookies for breakfast, lunch and dinner? If that's not
      heroic, I'm not sure what else is...
    </div>

    <div class="followers">
      <a href="#" class="_followers" username="iamDim">Followers <b>49.8K</b></a>
      <a href="#" class="_following" username="iamDim">Following <b>44</b></a>
    </div>
  </div>
</div>